@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&family=Raleway:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lora:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Raleway:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #4b353b;
  font-family: "Rubik";
  overflow-x: hidden;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #7c7575;
}

body::-webkit-scrollbar
{
	width: 12px;
  background-color: #4b353b;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #644a51;
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a{
    color: #f3c8d5;
  }

  p{
    color: rgb(240, 209, 209);
  }

.card {
    width: auto;
    margin: 30px 10px;
    padding: 20px;
    border-radius: 20px;
    background: #4b353b;
    box-shadow: 20px 20px 60px #402d32, -20px -20px 60px #563d44;
}

.infocard {
    justify-content: space-around;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 20px;
    background: #473333;
    box-shadow: 5px 5px 5px #3c2b2b, -5px -5px 5px #523b3b;
}

.desc {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.desc::-webkit-scrollbar {
    height: 12px;
}

  .desc::-webkit-scrollbar-thumb,
  .desc::-webkit-scrollbar-track {
    border-radius: 92px;
  }

  .desc::-webkit-scrollbar-thumb {
    background: var(--darkred);
  }

  .desc::-webkit-scrollbar-track {
    background: var(--thumb);
  }